body{
    font-family: Arial, Times New Roman;
}

h1{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

h2{
    color: darkblue;
    font-size: 42px;
    font-weight: bold;
}

ul,
ol{
    display: table;
}

p,
li{
    font-size: 20px;
}

img{
    height: auto;
    width: 500px;
    
}

h2,ul,ol,p{
    width: 700px;
    margin: 20px auto;
}

.recipe{
    color: black;
    font-size: 32px;
    font-weight: 500;
    margin: 20px auto;
}

.header{
    background-color: black;
    color: white;
    width: 500px;
    margin: 50px auto;
    padding: 16px;
}

.list{
    background-color: lightblue;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.image{
    text-align: center;
}